*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fffaff;
  background-color: #16435a;
}
button{
  background-color: #F8EFBA !important;
  color: black !important;
  border-radius: 10px !important;
  padding:10px !important;
}